.market-item {
  width: 152px;
  height: 206px;
  &__image {
    margin: 0;
    width: 152px;
    height: 152px;
    border-radius: 8px;
    overflow: hidden;
      img {
        width: 152px;
        height: 152px;
        object-fit: cover;
      }
  }
  &__title {
    padding-top: 8px;
    @include font(12px, 16px, 0);
  }
  &__price {
    padding-top: 4px;
    @include font(16px, 22px, 0)
  }
}