.search {
  &__textfield {
    position: relative;
    border-bottom:1px solid #ececec;
    padding: 6px 52px 6px 22px;
  }
  &__autocorrect {
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 10;
    padding: 0 20px;
    background-color: $white;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #f4f5f7;
      color: #0f1822;
      @include font(14px, 23px, 0);
      .point {
        color: #24ABBE;
      }
    }
    &--select {
      float: right;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5.60521 16.6054C5.61526 17.0189 5.95857 17.3459 6.37199 17.3358C6.78542 17.3258 7.11243 16.9825 7.10237 16.569L6.89284 7.95187L17.2948 18.3538C17.5872 18.6462 18.0613 18.6463 18.3538 18.3538C18.6462 18.0614 18.6462 17.5873 18.3538 17.2949L7.95174 6.89284L16.569 7.10237C16.9825 7.11242 17.3258 6.78542 17.3358 6.37199C17.3459 5.95856 17.0189 5.61526 16.6054 5.60521L6.37892 5.35655C6.14607 5.35089 5.93061 5.42522 5.7581 5.55398C5.71862 5.58057 5.6811 5.61132 5.64618 5.64624C5.61118 5.68123 5.58038 5.71883 5.55376 5.7584C5.42513 5.93086 5.35089 6.1462 5.35655 6.37892L5.60521 16.6054Z' fill='%23CDD1D6'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
    }
  }
  &__filter {
    display: flex;
    padding: 10px 10px 15px 0;
    height: 59px;
    &--keyword {
      padding: 0 0 0 22px;
      width: calc(100% - 37px);
      height: 34px;
      overflow-x: auto;
      overflow-y: hidden;
      .inner {
        display: flex;
      }
    }
    &--button {
      width: 34px;
      height: 34px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='12' viewBox='0 0 18 12' fill='none'%3E%3Cpath d='M5 12H1C0.716667 12 0.479333 11.904 0.288 11.712C0.0960001 11.5207 0 11.2833 0 11C0 10.7167 0.0960001 10.4793 0.288 10.288C0.479333 10.096 0.716667 10 1 10H5C5.28333 10 5.521 10.096 5.713 10.288C5.90433 10.4793 6 10.7167 6 11C6 11.2833 5.90433 11.5207 5.713 11.712C5.521 11.904 5.28333 12 5 12ZM17 2H1C0.716667 2 0.479333 1.90433 0.288 1.713C0.0960001 1.521 0 1.28333 0 1C0 0.716667 0.0960001 0.479 0.288 0.287C0.479333 0.0956668 0.716667 0 1 0H17C17.2833 0 17.5207 0.0956668 17.712 0.287C17.904 0.479 18 0.716667 18 1C18 1.28333 17.904 1.521 17.712 1.713C17.5207 1.90433 17.2833 2 17 2ZM11 7H1C0.716667 7 0.479333 6.904 0.288 6.712C0.0960001 6.52067 0 6.28333 0 6C0 5.71667 0.0960001 5.479 0.288 5.287C0.479333 5.09567 0.716667 5 1 5H11C11.2833 5 11.521 5.09567 11.713 5.287C11.9043 5.479 12 5.71667 12 6C12 6.28333 11.9043 6.52067 11.713 6.712C11.521 6.904 11.2833 7 11 7Z' fill='black'/%3E%3C/svg%3E");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
  &__list {
    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 22px;
      width: 100%;
      li {
        position: relative;
      }
    }
    .button__cart {
      position: absolute;
      top: 110px;
      right: 10px;
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='15.5' fill='white' stroke='%231C1C1C'/%3E%3Cpath d='M6.85272 8.53692C6.85272 8.13805 7.17607 7.8147 7.57494 7.8147H8.11253C9.0278 7.8147 9.57581 8.43002 9.88918 9.00202C10.0981 9.38331 10.2492 9.82553 10.3674 10.2259C10.3994 10.2234 10.4318 10.2221 10.4646 10.2221H22.499C23.2985 10.2221 23.8758 10.9871 23.6566 11.7559L21.8966 17.9277C21.5722 19.0652 20.5328 19.8496 19.3499 19.8496H13.6221C12.4295 19.8496 11.384 19.0524 11.0684 17.9023L10.3361 15.2339L9.1241 11.1425L9.12214 11.1353C8.9722 10.5885 8.83148 10.0777 8.62239 9.69603C8.41933 9.32539 8.25746 9.25914 8.11253 9.25914H7.57494C7.17607 9.25914 6.85272 8.93579 6.85272 8.53692ZM11.7377 14.8831L12.4613 17.52C12.6048 18.0428 13.08 18.4051 13.6221 18.4051H19.3499C19.8876 18.4051 20.36 18.0486 20.5075 17.5315L22.18 11.6665H10.7869L11.7244 14.8316C11.7295 14.8488 11.7339 14.8659 11.7377 14.8831ZM15.0379 22.7406C15.0379 23.8043 14.1756 24.6665 13.112 24.6665C12.0483 24.6665 11.1861 23.8043 11.1861 22.7406C11.1861 21.677 12.0483 20.8147 13.112 20.8147C14.1756 20.8147 15.0379 21.677 15.0379 22.7406ZM13.5935 22.7406C13.5935 22.4747 13.3779 22.2591 13.112 22.2591C12.8461 22.2591 12.6305 22.4747 12.6305 22.7406C12.6305 23.0065 12.8461 23.2221 13.112 23.2221C13.3779 23.2221 13.5935 23.0065 13.5935 22.7406ZM21.7786 22.7406C21.7786 23.8043 20.9164 24.6665 19.8527 24.6665C18.7891 24.6665 17.9268 23.8043 17.9268 22.7406C17.9268 21.677 18.7891 20.8147 19.8527 20.8147C20.9164 20.8147 21.7786 21.677 21.7786 22.7406ZM20.3342 22.7406C20.3342 22.4747 20.1186 22.2591 19.8527 22.2591C19.5868 22.2591 19.3712 22.4747 19.3712 22.7406C19.3712 23.0065 19.5868 23.2221 19.8527 23.2221C20.1186 23.2221 20.3342 23.0065 20.3342 22.7406Z' fill='%231C1C1C'/%3E%3C/svg%3E");
    }
  }
}
.button__cart-page {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M2.5 4.25C2.5 3.83579 2.83579 3.5 3.25 3.5H3.80826C4.75873 3.5 5.32782 4.13899 5.65325 4.73299C5.87016 5.12894 6.02708 5.58818 6.14982 6.00395C6.18306 6.00134 6.21674 6 6.2508 6H18.7481C19.5783 6 20.1778 6.79442 19.9502 7.5928L18.1224 14.0019C17.7856 15.1832 16.7062 15.9978 15.4779 15.9978H9.52977C8.29128 15.9978 7.2056 15.1699 6.87783 13.9756L6.11734 11.2045L4.85874 6.95578L4.8567 6.94834C4.701 6.38051 4.55487 5.85005 4.33773 5.4537C4.12686 5.0688 3.95877 5 3.80826 5H3.25C2.83579 5 2.5 4.66421 2.5 4.25ZM7.57283 10.8403L8.32434 13.5786C8.47333 14.1215 8.96682 14.4978 9.52977 14.4978H15.4779C16.0362 14.4978 16.5268 14.1275 16.68 13.5906L18.4168 7.5H6.58549L7.55906 10.7868C7.56434 10.8046 7.56892 10.8224 7.57283 10.8403ZM11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 17.8954 7.89543 17 9 17C10.1046 17 11 17.8954 11 19ZM9.5 19C9.5 18.7239 9.27614 18.5 9 18.5C8.72386 18.5 8.5 18.7239 8.5 19C8.5 19.2761 8.72386 19.5 9 19.5C9.27614 19.5 9.5 19.2761 9.5 19ZM18 19C18 20.1046 17.1046 21 16 21C14.8954 21 14 20.1046 14 19C14 17.8954 14.8954 17 16 17C17.1046 17 18 17.8954 18 19ZM16.5 19C16.5 18.7239 16.2761 18.5 16 18.5C15.7239 18.5 15.5 18.7239 15.5 19C15.5 19.2761 15.7239 19.5 16 19.5C16.2761 19.5 16.5 19.2761 16.5 19Z' fill='%231C1C1C'/%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
}