// Common Color
$black: #000;
$white: #fff;
$primary-color: #24abbe;

// Blue Color
$blue120: #15276f;
$blue110: #1632a6;
$blue100: #3157dd;
$blue090: #3769ed;
$blue080: #4876ef;
$blue070: #5189fa;
$blue060: #6d9cfa;
$blue050: #94b5fc;
$blue040: #bcd1fc;
$blue030: #deebff;
$blue020: #eff5ff;
$blue010: #f7fafe;

// Gig Navy Color
$navy120: #00165b;
$navy110: #0a2478;
$navy100: #1b368c;
$navy090: #28439c;
$navy080: #3150b7;
$navy070: #3a5ccd;
$navy060: #4366dc;
$navy050: #5879e9;
$navy040: #819df9;
$navy030: #b4c5ff;
$navy020: #e4eaff;
$navy010: #f9faff;

// Cool Gray Color
$gray110: #1c1c1c;
$gray100: #475067;
$gray090: #5c667b;
$gray080: #6b768b;
$gray070: #8491a7;
$gray060: #96a0b5;
$gray050: #cdd1d6;
$gray040: #d7dce5;
$gray030: #ebedf8;
$gray020: #f4f6fa;
$gray010: #f8fafc;

// Green Color
$green120: #286258;
$green110: #2a7c6d;
$green100: #17a187;
$green090: #11be9a;
$green080: #00d3ab;
$green070: #00deb3;
$green060: #4fe5c7;
$green050: #7beed8;
$green040: #aff4e5;
$green030: #defaf6;
$green020: #ebfffc;
$green010: #f3fffd;

// Coral Color
$coral120: #b81d1d;
$coral110: #d63131;
$coral100: #eb413f;
$coral090: #ff5656;
$coral080: #ff6d6a;
$coral070: #ff7a72;
$coral060: #ff837e;
$coral050: #fea4a3;
$coral040: #fec5c5;
$coral030: #fce6e6;
$coral020: #fef3f3;
$coral010: #fffafa;

$font-color-primary: $gray110;
$font-color-secondary: $gray090;
$font-color-tertiary: $gray070;
$font-color-point: $blue080;
$font-color-disabled: $gray050;
$bg-color-grouped: $gray020;
$bg-color-disabled: $gray030;
$border-color: $gray040;
$border-color-light: $gray030;
$color-error: $coral110;
