.modal {
  &__dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__inner {
    position: fixed;
    bottom: 0;
    background-color: $white;
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    max-width: 720px;
    height: 500px;
  }

  &__header {
    padding: 24px 20px 8px;
    height: 58px;

    h2 {
      @include font(19px, 26px, 0)
    }
  }

  &__body {
    padding: 8px 20px;
  }

  &__button--close {
    position: absolute;
    top: 24px;
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5.39705 5.55379L5.46967 5.46967C5.73594 5.2034 6.1526 5.1792 6.44621 5.39705L6.53033 5.46967L12 10.939L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.061 12L18.5303 17.4697C18.7966 17.7359 18.8208 18.1526 18.6029 18.4462L18.5303 18.5303C18.2641 18.7966 17.8474 18.8208 17.5538 18.6029L17.4697 18.5303L12 13.061L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.939 12L5.46967 6.53033C5.2034 6.26406 5.1792 5.8474 5.39705 5.55379L5.46967 5.46967L5.39705 5.55379Z' fill='%230F1822'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
  }
}